#infrastruttura1{
	padding-top: 6em;
	padding-bottom: 6em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/architecture.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

#infrastruttura1 img{background-color: transparent; margin-bottom: 2em; border: none; width: 50%; height: 50%;}

#infrastruttura1 h2{margin-bottom: 2em;}